/grapple-core/.idea
/grapple-core/.idea/**
/grapple-core/target/**
/grapple-core/target
/grapple-core/target/**
/grapple-sandbox/.idea
/grapple-sandbox/.idea/**
/grapple-sandbox/target/**
/grapple-sandbox/target
/grapple-sandbox/target/**